# libUMP
include $(CLEAR_VARS)

LOCAL_PRELINK_MODULE := false

LOCAL_C_INCLUDES := frameworks/base/opengl/include \
	$(MALI_SEARCH_PATH)
LOCAL_SRC_FILES := $(UMP_SRCS)
LOCAL_CFLAGS := $(MALI_DEFINES)
LOCAL_LDFLAGS := $(MALI_LINK_DEFINES)

LOCAL_MODULE_TAGS := eng
LOCAL_MODULE := libUMP

LOCAL_ARM_MODE := arm

LOCAL_SHARED_LIBRARIES := \
       libutils \
       libcutils \
       libbinder \
       libdl \
       liblog

include $(BUILD_SHARED_LIBRARY)
