# unit_framework 
include $(CLEAR_VARS)

LOCAL_PRELINK_MODULE := false

LOCAL_C_INCLUDES := $(MALI_SEARCH_PATH) $(TPI_SEARCH_PATH)
LOCAL_SRC_FILES := $(UNIT_FRAMEWORK_SRCS) 
LOCAL_CFLAGS := $(MALI_DEFINES)
LOCAL_LDFLAGS := $(MALI_LINK_DEFINES)

LOCAL_MODULE_TAGS := eng
LOCAL_MODULE := libunit_framework

LOCAL_ARM_MODE := arm

LOCAL_SHARED_LIBRARIES := \

include $(BUILD_STATIC_LIBRARY)
