<?xml version="1.0" encoding="utf-8"?>
<!-- <![CDATA[

This confidential and proprietary software may be used only as authorized
by a licensing agreement from ARM Limited.

      (C) COPYRIGHT 2011-2012 ARM Limited, ALL RIGHTS RESERVED

The entire notice above must be reproduced on all authorized copies and
copies may only be made to the extent permitted by a licensing agreement
from ARM Limited.

]]> -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mali.testjava">

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="false">
        <activity android:name=".MaliTestMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
